<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>

    <title><%= process.env.TITLE_FULL %></title>
    <meta name="title" content="<%= process.env.TITLE_FULL %>">
    <meta name="description" content="<%= process.env.DESCRIPTION %>">
    <meta name="keywords" content="<%= process.env.KEYWORDS %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="apple-mobile-web-app-title" content="<%= process.env.TITLE %>">
    <meta name="application-name" content="<%= process.env.TITLE %>">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">

    <!-- Naver Site Check -->
    <meta name="naver-site-verification" content="c63d20bff1fe846cca0c323859ff8ba290be8ce0" />

    <meta name="robots" content="all">

    <!-- Refresh -->
    <meta http-equiv="refresh" content="6000">
    <meta http-equiv="Cache-Control" content="max-age=31536000"/>

    <!-- Canonical -->
    <link rel="canonical" href="<%= process.env.CUSTOM_URL %>">
    <link rel="alternate" href="<%= process.env.URL %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= process.env.URL %>">
    <meta property="og:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="og:description" content="<%= process.env.DESCRIPTION %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= process.env.URL %>">
    <meta property="twitter:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="twitter:description" content="<%= process.env.DESCRIPTION %>">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5M8ND449DZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5M8ND449DZ');
    </script>

    <!-- Start Single Page Apps for GitHub Pages -->
    <script type="text/javascript">
        // Single Page Apps for GitHub Pages
        // MIT License
        // https://github.com/rafgraph/spa-github-pages
        // This script checks to see if a redirect is present in the query string,
        // converts it back into the correct url and adds it to the
        // browser's history using window.history.replaceState(...),
        // which won't cause the browser to attempt to load the new url.
        // When the single page app is loaded further down in this file,
        // the correct url will be waiting in the browser's history for
        // the single page app to route accordingly.
        (function(l) {
            if (l.search[1] === '/' ) {
                var decoded = l.search.slice(1).split('&').map(function(s) {
                    return s.replace(/~and~/g, '&')
                }).join('?');
                window.history.replaceState(null, null,
                    l.pathname.slice(0, -1) + decoded + l.hash
                );
            }
        }(window.location))
    </script>
    <!-- End Single Page Apps for GitHub Pages -->
</head>
<body data-theme="light">
    <div id="root"></div>
</body>
</html>
