<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Twinkle's Portfolio</title>
    <meta name="title" content="Twinkle's Portfolio | 개발자 김희정 포토폴리오">
    <meta name="description" content="This page is Junior Developer Heejeong Kim (twinkle)'s Porfolio">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hjkim1004.github.io/">
    <meta property="og:title" content="Twinkle's Portfolio">
    <meta property="og:description" content="This page is Developer Heejeong Kim (twinkle)'s Porfolio">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hjkim1004.github.io/">
    <meta property="twitter:title" content="Twinkle's Portfolio">
    <meta property="twitter:description" content="This page is Developer Heejeong Kim (twinkle)'s Porfolio">
</head>
<body data-theme="light">
    <div id="root"></div>
</body>
</html>
