<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title><%= process.env.TITLE_FULL %></title>
    <meta name="title" content="<%= process.env.TITLE_FULL %>">
    <meta name="description" content="<%= process.env.DESCRIPTION %>">
    <meta name="keywords" content="<%= process.env.KEYWORDS %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="apple-mobile-web-app-title" content="<%= process.env.TITLE %>">
    <meta name="application-name" content="<%= process.env.TITLE %>">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">

    <!-- Naver Site Check -->
    <meta name="naver-site-verification" content="c63d20bff1fe846cca0c323859ff8ba290be8ce0" />

    <meta name="robots" content="all">

    <!-- Refresh -->
    <meta http-equiv="refresh" content="6000">
    <meta http-equiv="Cache-Control" content="max-age=31536000"/>

    <!-- Canonical -->
    <link rel="canonical" href="<%= process.env.URL %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= process.env.URL %>">
    <meta property="og:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="og:description" content="<%= process.env.DESCRIPTION %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= process.env.URL %>">
    <meta property="twitter:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="twitter:description" content="<%= process.env.DESCRIPTION %>">
</head>
<body>

</body>
</html>