<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title><%= process.env.TITLE_FULL %></title>
    <meta name="title" content="<%= process.env.TITLE_FULL %>">
    <meta name="description" content="<%= process.env.DESCRIPTION %>">
    <meta name="keywords" content="<%= process.env.KEYWORDS %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="apple-mobile-web-app-title" content="<%= process.env.TITLE %>">
    <meta name="application-name" content="<%= process.env.TITLE %>">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">

    <!-- Naver Site Check -->
    <meta name="naver-site-verification" content="c63d20bff1fe846cca0c323859ff8ba290be8ce0" />

    <meta name="robots" content="all">

    <!-- Refresh -->
    <meta http-equiv="refresh" content="6000">
    <meta http-equiv="Cache-Control" content="max-age=31536000"/>

    <!-- Canonical -->
    <link rel="canonical" href="<%= process.env.URL %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= process.env.URL %>">
    <meta property="og:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="og:description" content="<%= process.env.DESCRIPTION %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= process.env.URL %>">
    <meta property="twitter:title" content="<%= process.env.TITLE_FULL %>">
    <meta property="twitter:description" content="<%= process.env.DESCRIPTION %>">
    
    <script type="text/javascript">
        // Single Page Apps for GitHub Pages
        // https://github.com/rafrex/spa-github-pages
        // Copyright (c) 2016 Rafael Pedicini,  licensed under the MIT License
        //  ---------------------------------------------- ------------------------
        // This script takes the current url and  converts the path and query
        // string into just a query string, and then  redirects the browser
        // to the new url with only a query string  and hash fragment,
        // e.g. http://www.foo.tld/one/two?a=b& c=d#qwe, becomes
        // http://www.foo.tld/?p=/one/two&  q=a=b~and~c=d#qwe
        // Note: this 404.html file must be at least  512 bytes for it to work
        // with Internet Explorer (it is currently >  512 bytes)

        // If you're creating a Project Pages site  and NOT using a custom domain,
        // then set segmentCount to 1 (enterprise   users may need to set it to > 1).
        // This way the code will only replace the  route part of the path, and not
        // the real directory in which the app  resides, for example:
        //  https://username.github.io/repo-name/one/two?  a=b&c=d#qwe becomes
        // https://username.github.io/repo-name/? p=/one/two&q=a=b~and~c=d#qwe
        // Otherwise, leave segmentCount as 0.
        var segmentCount = 1;

        var l = window.location;
        l.replace(
            l.protocol + '//' + l.hostname + (l.port ?   ':' + l.port : '') +
            l.pathname.split('/').slice(0, 1 +  segmentCount).join('/') + '/?p=/' +
            l.pathname.slice(1).split('/').slice  (segmentCount).join('/').replace(/&/g,  '~and~') +
            (l.search ? '&q=' + l.search.slice(1) .replace(/&/g, '~and~') : '') +
            l.hash
        );

    </script>
</head>
<body>

</body>
</html>