@charset "utf-8";

/* Font */
/* Jua */
@font-face {
    font-family: "jua";
    src: url("./BMJUA.ttf");
    unicode-range: U+0041-005A, U+0061-007A, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: "Milvasten";
    src: url("./Milvasten.otf");
}
@font-face {
    font-family: "Melliath";
    src: url("./Melliath.ttf");
}