body[data-theme="light"] #s_intro {
    background: white;
}

body[data-theme="light"] #s_intro .section-title {
    color: #ff4c91;
}

body[data-theme="light"] #s_intro .section-title::before {
    color: #ffd0e2;
}

body[data-theme="light"] #s_intro .section-content {
    background: #fff2f7;
}

/* Profile */
body[data-theme="light"] .section:has(.profile-container) {
    background: url("@Images/bg_profile.png") center / 100% no-repeat;
    background-size: cover !important;
    background-attachment: fixed !important;
}
body[data-theme="light"] .section:has(.profile-container) .section-title {
    color: rgba(0, 0, 0, 0.7);
}
body[data-theme="light"] .profile-box .icon {
    color: var(--color-blue);
}

body[data-theme="light"] .profile-container {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 1px 1px 1rem rgb(100 100 100 / 10%);
}

body[data-theme="light"] .profile-box a:hover {
    color: #0619ff;
}