.pc {
    display: block;
}
span.pc {
    display: inline;
}
.mobile {
    display: none !important;
}

.header .header-icon {
    display: none !important;
}

@media (max-width: 1200px) {
    .header ul.header-nav {
        width: 500px;
    }
    .profile-box {
        width: calc(50% - 1rem / 2)
    }

    .profile-mbti .profile-progress {
        width: 150px;
    }

    .skill-box {
        width: 8rem;
        height: 8rem;
    }
    .skill-box .icon {
        font-size: 2.5rem;
        max-height: 2.5rem;
    }
}


@media (max-width: 900px) {
    .header .header-nav {
        display: none !important;
    }

    .header .header-icon {
        display: inherit !important;
    }

    .header button {
        margin-left: 0;
    }
    .profile-container {
        flex-direction: column;
    }
    .profile-mbti .profile-progress {
        width: 250px;
    }
}

/* Tablet */
@media screen and (max-width: 767px) {
    :root {
        /* Header */
        --size-header: 140px;
        --size-header-logo: 50px;
        --size-header-scrolled: 100px;
        --size-header-title: 3rem;
        --fs-title: 3rem;
        --fs-1: 2rem;
        --fs-2: 1.75rem;
        --fs-3: 1.5rem;
        --fs-4: 1.25rem;
        --fs-5: 1.125rem;
        --fs-6: 1rem;
        --fs-7: 0.9rem;
    }

    .header ul.header-nav {
        display: none;
    }

    .flop-list {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        width: auto;
    }

    .flop-menu {
        display: none !important;
    }

    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    /* Scroll */
    .scroll-container {
        height: 0px;
    }

    /* Section */
    .section {
        padding: 5rem 0;
    }

    .footer {
        padding: 3rem 0 !important;
    }

    #s_home {
        height: 600px;
        max-height: 80vh;
        overflow: hidden;
    }
    .space-to {
        left: 1.5rem;
        bottom: 1.5rem;
    }
    .scroll-down {
        font-size: 1rem !important;
    }
    /* Profile */
    .profile-container {
        gap: 1rem;
        padding: 3rem 2rem;
        flex-direction: column;
    }
    .profile-img img {
        height: 150px;
    }

    .profile-container .profile-box {
        width: 100%;
    }
    .profile-info {
        gap: 1rem;
    }

    /* Skill */
    .skill-container {
        gap: 0 1rem
    }

    .skill-group {
        width: 100%;
    }

    .skill-group .list {
        gap: 0.5rem;
    }

    .skill-box {
        flex-direction: row;
        gap: 0.5rem;
        width: 100%;
        height: 2.5rem;
        border-radius: 0.25rem;
        padding: 0.5rem 0.8rem;
        align-items: center;
    }

    .skill-box .icon {
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .skill-box .name {
        text-align: left;
    }
}

@media (max-width: 480px) {
    :root {
        /* Header */
        --size-header: 120px;
        --size-header-logo: 40px;
        --size-header-scrolled: 80px;
        --size-header-title: 2.5rem;
    }
    .profile-container {
        padding: 2rem 1rem;
    }

    .og-container {
        height: 80px;
    }
    .og-container .og-info p {
        display: none;
    }
}