html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


:root {
    --bg-main-color: white;
    --bg-footer-color: #0a0936;
    --bg-header-color: #222;
    --bg-flopmenu-color: #070641;
    --color-main: #333;
    --color-yellow-light: #fff8b6;
    --color-yellow: #ffd600;
    --main-border-size: 1rem;
    --main-border-padding: 2rem;
    --size-header: 160px;
    --size-header-logo: 55px;
    --size-header-title: 3.5rem;
    --size-header-scrolled: 120px;
    --shadow-header-logo: 0 0 1rem rgb(248 208 113 / 50%);
    --fs-title: 4rem;
    --fs-1: 2.5rem;
    --fs-2: 2.25rem;
    --fs-3: 2rem;
    --fs-4: 1.75rem;
    --fs-5: 1.5rem;
    --fs-6: 1.25rem;
    --fs-7: 1rem;
    --section-mt: 2rem;
    --section-mt-md: 4rem;
    --section-mt-lg: 6rem;
    --bs-body-font-family: 'Noto Sans KR';
    --table-fs: var(--fs-5);
    --table-padding: 1rem;
    --table-img-max: 90px;
    --slick-dots-size: 1rem;
    --slick-dots-gap: 1.5rem;
    --slick-arrow-size: 2rem;
    --slick-arrow-gap: 2rem;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: var(--fs-6);
    color: var(--color-main);
}

body, div, span, section, input, button {
    font-family: -apple-system, 'Sansation', 'Noto Sans KR', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}
#root {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, header, footer, section, ul, li {
    box-sizing: border-box;
    max-width: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}

canvas {
    width: 100%;
    height: 100%;
}

canvas.babylon-canvas {
    cursor: grab;
}

canvas.babylon-canvas:active {
    cursor: grabbing;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.typing::after {
    content: '|';
    animation: blink 1s infinite;
}

.hide {
    opacity: 0;
    visibility: hidden
}

button {
    font-family: 'Sansation', 'Noto Sans KR', sans-serif !important;
    font-size: var(--fs-7) !important;
    max-width: 100%;
}
.btn-black {
    background: rgba(0,0,0,0.75)!important;
    color: white !important;;
}
.btn-more {
    padding: 0.7rem 1.5rem !important;;
    width: 500px !important;;
    margin-top: 3rem !important;;
}
/*
  Layout
*/
.inner {
    width: 1520px;
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    height: var(--size-header);
    width: 100%;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
    font-size: var(--fs-6);
    transition: 0.5s;
    z-index: 10;
}

.header.scrolled {
    height: var(--size-header-scrolled);
    background: var(--bg-header-color);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.logo {
    height: var(--size-header-logo);
    display: flex;
    gap: 1rem;
}

.logo img {
    filter: drop-shadow(var(--shadow-header-logo));
}

.logo .title {
    font-family: 'Melliath', serif !important;
    color: var(--color-yellow);
    text-shadow: var(--shadow-header-logo);
    font-size: var(--size-header-title);
}

.header button {
    color: inherit;
    font-size: 1.5rem !important;
    margin-left: 1rem;
}
.header .inner {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1rem;
}

.header ul.header-nav {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.header ul.header-nav li {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.header ul.header-nav li:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--color-yellow);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.header ul.header-nav li:hover:after {
    transform: scaleX(1);
}

.footer {
    padding: 5rem 0 !important;
    background: #111 !important;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer .footer-logo {
    justify-content: center;
}
.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
}
.content {
    position: relative;
}
/**
    Flop Menu
 */
.flop-list {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 10;
    transition: 1s;
}
.flop-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1px 1px 1rem rgba(255,255,255,0.1);
    transition: 1s;
}
.flop-menu .flop-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
    padding: 0.6rem 0;
    gap: 0.25rem;
}
.flop-menu .flop-item .icon{
    max-height: 30px;
    font-size: 1.8rem;
}
.flop-menu .flop-item[data-name="kakao"] {
    background: #fae100;
    color: #3f3035;
}
.flop-menu .flop-item[data-name="blog"] {
    background: #20c997;
    color: white;
}
.flop-menu .flop-item[data-name="github"] {
    background: black;
    color: white;
}

.flop-top {
    width: 50px;
    height: 50px;
    background: #555;
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    Custom Style
*/

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gap-1 {
    gap: 1rem;
}

.section {
    position: relative;
    padding: 7rem 0;
    transition: 0.5s;
}

.section:nth-child(2n) {
    background: #fafafa;
}

.section > * {
    width: 1520px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    word-break: keep-all;
    z-index: 1;
}

.section .section-title {
    font-size: var(--fs-1);
}

.section .section-desc {
    margin-top: 1rem;
}

.section .section-content {
    margin-top: 2rem;
}
.section .section-desc:first-child,
.section .section-content:first-child {
    margin-top: 0;
}

.section:not(:has(.babylon-canvas)):not(#section_home) .section-title::before {
    content: '#';
    margin-right: 0.25rem;
    color: rgba(0,0,0,0.3);
}

.section .section-bg {
    position: absolute;
    background: url("@Images/galaxy.png") center / 100%;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    z-index: 0;
}

.badge {
    color: white;
    background: #333;
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

/**
  Section - Home
 */
#section_home {
    width: 100%;
    height: 9800px;
    max-height: 100vh;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_home .section-title {
    font-size: var(--fs-title);
    text-shadow: 0 0 5px black;
}

.loading {
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    width: 100px;
    display: flex;
    justify-content: center;
}
.scroll-down {
    position: absolute;
    bottom: 3rem;
    width: fit-content;
}

.scroll-down .icon {
    font-size: 2rem;
    animation: bounce 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite alternate;
}

/**
  Section - Introduction
 */
#section_intro .section-content {
    background: rgb(0 0 0 / 5%);
    padding: 2rem;
    border-radius: 1rem;
}

/**
  Section - Skill
 */
#section_skill .section-content {
    overflow: hidden;
}

#section_project {
    background: url("@Images/bg_career.png") right bottom / 100px no-repeat, #ebf4ff;
}

/* Scroll Bar */
.scroll-container {
    height: 3px;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.scroll-bar {
    height: 100%;
    background: repeating-linear-gradient(45deg, #444, #444 10px, #888 0, #888 20px);
    width: 0;
}

*::-webkit-scrollbar {
    width: 0;
}

/* Profile */
.profile-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    background: rgba(0, 0, 0, 0.05);
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
}
.profile-img {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-5);
    gap: 1rem;
    text-align: center;
    font-weight: 600;
}
.profile-img img {
    height: 200px;
    border-radius: 50%;
}
.profile-info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 1rem;
}

.profile-mbti {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-mbti .profile-label {
    width: 150px;
}
.profile-mbti .profile-label.profile-label-left {
    text-align: right;
}
.profile-mbti .profile-label.profile-label-right {
    text-align: left;
}
.profile-mbti .profile-progress {
    width: 300px;
    height: 0.5rem;
    border-radius: 1rem;
}
.profile-box {
    display: flex;
    align-items: center;
    width: calc(33% - 1rem/2);
    text-align: left;
    gap: 1rem;
    cursor: default;
}
.profile-box .icon {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 10%;
    color: #aaa;
    transition: 0.5s;
}
.profile-box .box {
    width: calc(90% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.profile-box .title {
    font-size: var(--fs-5);
    font-weight: 700;
}
.profile-box .text {
    overflow-x: auto;
    text-wrap: wrap;
    word-wrap: break-word;
}
.profile-box .text::-webkit-scrollbar {
    height: 8px;
    width: 3px;
}
.profile-box .text::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 1rem;
}

/* Career */
.career-section {
    margin-bottom: 1.5rem;
}
.career-section .career-title {
    font-size: var(--fs-5);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.25rem;
}
.career-section .career-logo {
    width: fit-content;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}
.career-section .career-logo img {
    height: 30px;

}
.career-section .career-pos {
    font-size: var(--fs-6);
    font-weight: 300;
}
.career-section .career-pos b {
    font-weight: 400;
}

/* Skills */
.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 2rem;
}

.skill-box {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    background: rgba(210, 210, 210, 0.1);
    width: 10rem;
    height: 10rem;
    border: solid 8px transparent;
    border-radius: 50%;
}
.skill-box:hover,
.skill-box:active,
.skill-box:focus {
    cursor: default;
    transform: scale(1.05) !important;
    transition-delay: 0.3s !important;
    transition-timing-function: ease !important;
}
.skill-box .icon {
    font-size: 3rem;
    max-height: 3rem;
}

.skill-box .name {
    font-size: var(--fs-7);
    text-transform: capitalize;
    width: 90%;
    margin: 0 auto;
}

.skill-group {
    padding: 1rem;
}

.skill-group .list {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Material */
.css-cveggr-MuiListItemIcon-root {
    min-width: 40px !important;
}

/**
  Animation
 */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes blink {
    50% {
        color: transparent
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
    /* 마지막 위치 */
}
